[Desktop Entry]
Type=Application
Name=CC Switch Relay
Comment=All-in-One Assistant for Claude Code, Codex & Gemini CLI
Exec=cc-switch
Icon=io.github.spongebobsun.ccswitch
Terminal=false
Categories=Utility;Development;
StartupNotify=true
